@font-face {
  font-family: AvenirNext-Bold;
  src: url("./assets/font/AvenirNextLTPro-Bold.otf") format("otf");
}

@font-face {
  font-family: AvenirNext-Demi;
  src: url("./assets/font/AvenirNextLTPro-Demi.otf") format("otf");
}

@font-face {
  font-family: AvenirNext-Regular;
  src: url("./assets/font/AvenirNextLTPro-Regular.otf") format("otf");
}

@import "tailwindcss";
@theme {
  --font-avenirnext-regular: "AvenirNext-Regular", monospace;
  --font-avenirnext-demi: "AvenirNext-Demi", monospace;
  --font-avenirnext-bold: "AvenirNext-Bold", monospace;
}

body {
  position: relative;
  font-family: "AvenirNext-Regular";
  font-size: 16px;
  background-color: rgb(247, 248, 249);
}

h2 {
  color: #5c667e;
  text-transform: uppercase;
  font-size: 1rem;
}

p {
    color: black;
}

.warehouse {
  margin-top: -95px;
  font-size: 0.85rem;
}

.location-link {
  color: #2e66e5;
  font-size: 1.25rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  /* styles for screens larger than 768px */
}

@media (min-width: 1024px) {
  /* styles for screens larger than 1024px */
  .warehouse {
    margin-top: -100px;
  }
}

@layer components {
  .main-button {
    @apply w-[50%] min-w-[125px] rounded-full py-2 text-center text-white;
  }

  .main-button-active {
    @apply bg-slate-950;
  }

  .main-button-inactive {
    @apply hover:bg-slate-900;
  }

  .alternate-button {
    @apply rounded-[50%] py-4 px-4 text-center text-white bg-[#2e66e5];
  }

  .warning-button {
    @apply rounded-[50%] py-4 px-2 text-white bg-red-500 hover:bg-red-600;
  }
  /* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  @keyframes loading {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }
    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }
    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }
    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }
}
